<h1>Listing darts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Percentage</th>
	<th>Url</th>
	<th>Token</th>
	<th>Completed</th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @darts.each do |dart| %>
  <tr>
    <td><%= dart.name %></td>
    <td><%= dart.size %></td>
    <td><%= dart.percentage %></td>
	<td><%= dart.url %></td>
	<td><%= dart.token %></td>
	<td><%= dart.completed %></td>
    <td><%= link_to 'Show', dart %></td>
    <td><%= link_to 'Edit', edit_dart_path(dart) %></td>
    <td><%= link_to 'Destroy', dart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dart', new_dart_path %>
